

    .footerContainer li{
    	 background-image: url(../images/logo3.png);
        }
     .mainSpeech{
        width: 1200px;
        height: 450px;
        background-image: url(../images/workshop-banner-image.image.large_2x.jpg);
  		filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/workshop-banner-image.image.large_2x.jpg', sizingMethod='scale');
    	-ms-filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/workshop-banner-image.image.large_2x.jpg', sizingMethod='scale')";
    }
    .mainGray{
        background-image: url(../images/homepage-hero.image.large_2x2.jpg);
		filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/homepage-hero.image.large_2x2.jpg', sizingMethod='scale');
    	-ms-filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/homepage-hero.image.large_2x2.jpg', sizingMethod='scale')";
    }
    .header{
    	width:1510px!important;
    }
    .main{
    	width:1510px!important;
    }
    .footer{
    	width: 1510px!important;
    }